<!DOCTYPE html>
<html>
    <head>
        <title>CrossLinkMedia</title>

        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!--<link href="/styles/toaster.css" rel="stylesheet" type="text/css"/>--> 
        <!--<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">--> 
        <style> 
            @charset "UTF-8"; 
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
            .ng-cloak, .x-ng-cloak,
            .ng-hide:not(.ng-hide-animate) {
                display: none !important;
            } 
            ng\:form {
                display: block;
            }</style>
        <link href="/styles/importer.css" rel="stylesheet" type="text/css"/> 

        <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/latest/cosmo/bootstrap.min.css" type="text/css">--> 
        <% include ./../parts/head.ejs %>
    </head>
    <body>
        <% include ./../parts/header.ejs %>
        <style>
            .container-fluid{
                padding-top: 60px;
                padding-bottom: 85px;
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
            }
            #pages_body{
                height: 100%;
                z-index: -100;
            }
/*             TEMPORARY CONTENT LOADING CONTAINER 
            .loading-container {
                position: relative;
            }

            .loading-container .loading:before, .loading-container .loading:after {
                content: " ";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                min-height: 50px;
                min-width: 50px;
            }

            .loading-container .loading:before {
                z-index: 1020;

                background: white url('/images/loader.gif') no-repeat center;
                opacity: 0.5;
            }

            .loading-container .loading-container .loading {
                display: none;
            }*/

        </style>
        <div class="container-fluid" id="pages_body" ui-view>
            <%- body %>
        </div>
        <% include ./../parts/footer %>
        <!--<script src="/js/dependencies/sails.io.js" type="text/javascript"></script>-->
        <script>
            window.name = 'NG_DEFER_BOOTSTRAP!';
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js" ></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js" data-main="/js/spa/<%= ng_spa_name %>"></script>
    </body>
</html>