<!DOCTYPE html>
<html>
    <head>
        <title>CrossLinkMedia</title>

        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/latest/cosmo/bootstrap.min.css" type="text/css"> 
        <% include ./../parts/head.ejs %>
    </head>
    <body>
        <% include ./../parts/header.ejs %>
        <style>
            .container-fluid{
                padding-top: 60px;
                padding-bottom: 60px;
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
            }
            #pages_body{
                height: 100%;
            }
        </style>
        <div class="container-fluid" id="pages_body">
            <%- body %>
        </div>
        <% include ./../parts/footer %>
    </body>
</html>