<form name="registerForm" class="form-signin form-horizontal col-sm-8 col-sm-offset-2" novalidate>  
    <legend>Activate Account </legend>
    <section ng-switch='!activationstate'>
        <p ng-if = "!activationstate" > Please check your email for activate account   </p>     
        <div ng-if = "activationstate"> 
            <label ng-show="isBusy" class="label label-warning">Please waite...</label>
            <!--<label ng-show="!isBusy" class="label label-success">Registration complete success</label>-->
            
            <label ng-show="!isBusy" class="label label-warning">NO MONEY - NO REGISTRATION </label>
            <!--<label ng-show="!isBusy" class="label label-success">Registration complete success</label>-->
        </div>   
<!--    <div class="form-group"> 
        <label for="firstname" class="col-lg-2 control-label">First name</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" placeholder="First name" name="firstname" ng-model="user.firstname" required>
            <div ng-show="registerForm.firstname.$dirty" ng-messages="registerForm.firstname.$error">
                <div ng-message="required">
                    Enter First name
                </div>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-lg btn-primary btn-block" ng-click="register()" value="Create Account" />-->
    </section>
</form>