<form name="registerForm" class="form-signin form-horizontal col-sm-8 col-sm-offset-2" novalidate loading-container="isBusy">  
    <legend>Registration</legend> 
    <alert class="alert" ng-repeat="error in errors" type="danger">{{error.msg}}</alert>
    <!--    <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">First name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" placeholder="Email">
            </div>
        </div>--> 
    <div class="form-group"> 
        <label for="firstname" class="col-lg-2 control-label">First name</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" placeholder="First name" name="firstname" ng-model="user.firstname" required>
            <div ng-show="registerForm.firstname.$dirty" ng-messages="registerForm.firstname.$error" class="text-warning">
                <div ng-message="required">
                    Enter First name
                </div>
            </div>
        </div>
    </div>
    <div class="form-group"> 
        <label for="firstname" class="col-lg-2 control-label">Last name</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" placeholder="Last name" name="lastname" ng-model="user.lastname" required>
            <div ng-show="registerForm.lastname.$dirty" ng-messages="registerForm.lastname.$error" class="text-warning">
                <div ng-message="required" class="error">
                    Enter Last name
                </div>

            </div>
        </div>
    </div>
    <!-- company name-->
    <div class="form-group"> 
        <label for="companyname" class="col-lg-2 control-label">Company name</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" placeholder="Company name" name="companyname" ng-model="user.companyname" required>
            <div ng-show="registerForm.companyname.$dirty" ng-messages="registerForm.companyname.$error" class="text-warning">
                <div ng-message="required">
                    Enter Company name
                </div>

            </div>
        </div>
    </div>
    <!-- //company name-->
    <!-- country-->
    <div class="form-group"> 
        <label for="country" class="col-lg-2 control-label">Country</label>
        <div class="col-lg-10"> 
            <select class="form-control" id="country" ng-model="user.isoCountry" required ng-options="value.ISO as  value.Country group by value['Type of number'] for (key,value) in countryList| filter:{'SMS Enabled':'Yes'}">
            </select> 
            <div ng-show="registerForm.country.$dirty" ng-messages="registerForm.country.$error" class="text-warning">
                <div ng-message="required">
                    Select country 
                </div>
            </div>
        </div>
    </div>
    <!-- //country -->

    <div class="form-group"> 
        <label for="email" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
            <input type="email" class="form-control" placeholder="email" name="email" ng-model="user.email" required>
            <div ng-show="registerForm.email.$dirty" ng-messages="registerForm.email.$error" class="text-warning">
                <div ng-message="required">
                    You forgot the email address.
                </div>
                <div ng-message="email">
                    That is not a well formed email address.
                </div>
            </div>
        </div>
    </div> 
    <div class="form-group"> 
        <label for="phone" class="col-lg-2 control-label">Contact phone</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" placeholder="phone number like +1 (234) 5689 901 " name="phone" ng-model="user.phone" required 
                   ng-pattern="/\+(9[976]\d|8[987530]\d|6[987]\d|5[90]\d|42\d|3[875]\d|2[98654321]\d|9[8543210]|8[6421]|6[6543210]|5[87654321]|4[987654310]|3[9643210]|2[70]|7|1)\W*\d\W*\d\W*\d\W*\d\W*\d\W*\d\W*\d\W*\d\W*(\d{1,2})$/" ngpattern="/^\d{0,9}(\.\d{1,9})?$/" >
            <div ng-show="registerForm.phone.$dirty" ng-messages="registerForm.phone.$error" class="text-warning">
                <div ng-message="required">
                    Enter phone
                </div>      
                <div ng-message="pattern">
                    Please enter a valid phone number.
                </div>    
            </div>
        </div>
    </div>
    <div class="form-group"> 
        <label for="password" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
            <input type="password" class="form-control" placeholder="password" name="password" ng-model="user.password" required>
            <div ng-show="registerForm.password.$dirty" ng-messages="registerForm.password.$error" class="text-warning">
                <div ng-message="required">
                    You forgot the password.
                </div>
            </div>
        </div>
    </div>
    <div class="form-group"> 
        <label for="confirmpassword" class="col-lg-2 control-label">Confirm password</label>
        <div class="col-lg-10">
            <input type="password" class="form-control" placeholder="confirm password" name="confirmpassword" ng-model="user.confirmPassword" required
                   compare-to="user.password">
            <div ng-show="registerForm.confirmpassword.$dirty" ng-messages="registerForm.confirmpassword.$error" class="text-warning">
                <div ng-message="required">
                    You forgot the password confirmation.
                </div>
                <div ng-message="compareTo">Must match the previous entry</div>
            </div>
        </div>
    </div>

    <input type="submit" class="btn btn-lg btn-primary btn-block" ng-click="register(registerForm.$invalid)"   value="Create Account" />
</form>