<div class="modal-header" style="background-color: #333333">
    <button type="button" class="close" ng-click="no()">&times;</button>
    <h4 class="modal-title" style="color: #ffffff">
        <i class="fa fa-trash-o"></i> {{header}}
    </h4>
</div>

<div class="modal-body" ng-bind-html="msg">

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="yes()">{{"DIALOGS_YES" | translate}}</button>
    <button type="button" class="btn btn-default" ng-click="no()">{{"DIALOGS_CANCEL" | translate}}</button>
</div>
