<!-- template "chatroom/templates/index.tpl.html"--> 
<!-- 
Red number means - initial message received, not handled by anyone.
No color - operator sent unanswered message.
Blue color - user replied operator (not initial message) that was not answere
-->
<style>
    /*TODO: replace to css file*/
    .initial_messages_received{
        background-color: red;
    }
    .user_replied_operator{
        background-color: blue;
    }
</style>
<section class="row-fluid"  ng-controller="<%= 'Main_' + namespace + '_Controller' %> as main" ng-init="status = {open:true}; status2 = {open:true}; currentChatRoom = null;"
         style="height: 100%; 
         "> 
    <style>
        #chat_dialog .textMsg{
            border-radius: 1em;
            padding: 0.5em;
        } 
    </style>

    <div class="row" style="height: 100%;"> 
        <article class="col-sm-4 affix"  style="height:100%"> 
            <accordion  id="list_client" style="height:70%">
                <accordion-group is-open="status.open">
                    <accordion-heading> 
                        Conversations
                        <i class="pull-right fa " ng-class="{'fa-chevron-down': status.open, 'fa-chevron-right': !status.open}"></i> 
                    </accordion-heading>

                    <ul class="list-group" id="clients_list"> 
                        <li ng-repeat="item in conversationList track by $index" class="list-group-item" 
                            ng-if="item.isactive"
                            ng-class="{'user_replied_operator':item.isWaitAnswer && item.operator, 'initial_messages_received':!!!item.operator.id }" 
                            ng-click="onSetCurrentChatRoom(item);">
                            <span class="badge" ng-show="item.id == currentChatRoom.id">
                                <i class="fa fa-exclamation"></i>    
                            </span>  
                            <span  ng-class="{'text':true, 'text-error':item.id == currentChatRoom.id}"> 
                                <span  ng-if="!!item.operator">({{item.operator.username}})</span> 
                                {{item.client}}
                            </span>


                        </li>  
                    </ul> 
                </accordion-group> 
            </accordion> 
            <accordion id="list_operator" style="height:30%">
                <accordion-group is-open="status2.open">
                    <accordion-heading> 
                        Operators online
                        <i class="pull-right fa " ng-class="{'fa-chevron-down': status.open2, 'fa-chevron-right': !status.open2}"></i> 
                    </accordion-heading>

                    <ul class="list-group" id="operator_list">
                        <li ng-repeat="item in operatorsList track by $index" ng-show="item.isLogin"class="list-group-item" 
                            >{{item.username}}
                            <!--                            <span class="badge " ng-show="item.isLogin">
                                                            <i class="fa fa-exclamation"></i>  </span>   -->
                        </li>  
                    </ul> 
                </accordion-group> 
            </accordion> 

        </article>
        <article class="col-sm-offset-4 col-sm-8 overflowable" style="height: 100%;">
            <div class="col-sm-12" style="height: 100%; padding-bottom: 60px;"  > 
                <h4 class="text text-left text-primary col-sm-12" ng-switch="">Message Window 
                    <strong ng-show="currentChatRoom.client" ng-switch="!currentChatRoom.operator"> from {{currentChatRoom.client}}  

                        <button ng-switch-when="false" ng-click="onTerminateDialog($event, currentChatRoom.id)" class="btn btn-sm btn-warning pull-right">
                            <i class="fa fa-warning"></i> Terminate dialog
                        </button>

                        <button ng-switch-default ng-click="onStartDialog($event, currentChatRoom.id)" class="btn btn-sm btn-success pull-right">
                            <i class="fa fa-wechat"></i> Start dialog
                        </button>
                    </strong>
                </h4>

                <!--TODO: make it as directive -->
                <ul autoscroll-down class="list-group" id="chat_dialog" style="height:100%;overflow-y: auto;border: #0000ed solid;"> 
                    <li ng-repeat="item in currentChatMessages" class="list-group-item" 
                        ngclass="{'text-right':item.owner == currentChatRoom.owner.id}">
                        <p  ng-class="{'text':true, 'text-warning':item.From == currentChatRoom.From}">({{item.updatedAt|  date:" hh:mm:ss"}}) <span ng-if="item.operator">Operator {{item.operator.username}} </span></p>
                        <span class="textMsg"> 
                            {{item.Body}}  
                        </span>
                    </li>
                </ul> 
            </div>

        </article>
        <footer class="col-sm-offset-4 navbar-fixed-bottom"   > 
            <form class="form well-sm  col-sm-12" id="chatform" ng-submit="onSendMessage($event, currentChatRoom.id, messagesForUser)" > 
                <div class="form-group">
                    <div class="col-sm-10 col-lg-10">
                        <textarea  ng-model="messagesForUser"
                                   enter-submit="onSendMessage($event, currentChatRoom.id, messagesForUser)"
                                   class="form-control col-sm-8" 
                                   id="messageText"  
                                   ng-disabled="!currentChatRoom || isLocked"  
                                   placeholder="Type message here... (Shift+Enter - new line)"
                                   ></textarea>
                    </div> 
                    <div class="col-sm-2 col-lg-2">
                        <input type="submit" id="submit" class="btn btn-success col-sm-12" ng-disabled="!messagesForUser || !currentChatRoom || isLocked" value="Send"/>
                    </div>
            </form>
        </footer>  

    </div> 
</section>
<!-- //template "index.tpl.html"-->