<% if (lecture == undefined) { %>
<h4 class="text text-center text-muted">Извините, лекция не найдена </h4>
<%} %> 
<link href="/styles/player.css" rel="stylesheet" type="text/css"/>
<% if (lecture !== undefined) { %>
<div id="loading">
    <span class="label label-warning"><i class="fa fa-spinner fa-spin"> </i> Загрузка данных...</span>
</div>
<h4 class="text text-center"><%= lecture.title %></h4>
<section class="row">

    <div class="col-sm-6">
        <div id="videoplayer-container" class="embed-responsive embed-responsive-16by9">
            <div id="videoplayer"></div>
        </div>
    </div>
    <div class="col-sm-6">
        <div id="pdf-container" class="embed-responsive embed-responsive-16by9">
            <!--       <iframe src="//www.slideshare.net/slideshow/embed_code/41957874?jsapi=true" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>-->
            <div id="pdf-canvas"></div>
            <!--        <canvas id="pdf-canvas"></canvas>-->
        </div>
    </div>
    <aside class="row">

        <div id="sliders" class="col-sm-12 clear">
            <div id="slider" class="clear">
                <div class="viewed"></div>
                <div class="handle">
                    <div class="c1"></div>
                    <div class="c2"></div>
                </div>
                <div class="marks"></div>
            </div>
            <div id="vol-slider">
                <div class="viewed"></div>
                <div class="handle">
                    <div class="c1"></div>
                    <div class="c2"></div>
                </div>
            </div>
            <!--<div id="vol-icon" class="icon-volume fa fa-volume-off"></div>-->
        </div>
    </aside>    
    <div class="row col-sm-12 col-lg-12" id="controls">
        <div class="col-sm-4 col-lg-3  text-center">   
            <div class="btns col-sm-12">
                <span class="btn prev icon-first fa fa-fast-backward "></span>
                <span class="btn playpause icon-play fa fa-play"></span>
                <span class="btn next icon-last fa fa-fast-forward"></span>
            </div>
            <div class="info col-sm-12 col-lg-11">
                <span class="time">00:00</span>
                <div class="slide">
                    <div class="desc">слайд</div>
                    <span class="current">--</span>/<span class="total">YY</span>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-lg-9">
            <div id="slides"></div>
        </div>
    </div>
</section>
<!--<section class="row">
    <div id="cols">
    </div>    
</section>-->
<script type="text/javascript">
    var lectureId = <%= lecture.id %>
            function onYouTubeIframeAPIReady() {
                require(['js/page'], function (page) {
                    page.onYouTubeReady();
                });
            }
</script>

<script type="text/javascript">
    var tag = document.createElement('script');
    tag.src = "http://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
</script>



<%  } %>