<!-- template "operators.tpl.html"-->
<section ui-view="content" class="tasks">
    <div class="col-sm-12 no-padding" loading-container="isBusy || tableParams.settings().$loading">
        <div class="col-sm-12">
            <h3 class="text text-left task-title col-sm-12">
               Account settings
<!--                <button
                                              ng-click="onOpenInstruction()"
                                              type="button"
                                              class="btn btn-info pull-right">
                    Instruction
                </button>-->
 <!--<button ng-click="onAddUser()" class="btn btn-primary pull-right">Add new Operator</button>-->
            </h3>

            <hr/>
            <div class="pusher-15"></div>

<!--            <div class="col-sm-12 no-padding">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a>Users</a></li>
                </ul>
            </div>-->

            <div class="col-sm-12 no-padding content-table">
                <div class="pusher-15"></div>

<!--                <div class="col-sm-6">
                    <search-box ng-model="tableParams.filter()['userName']"></search-box>
                </div>-->
<!--                <div class="col-sm-6">
                    <button ng-click="onAddUser()" class="btn btn-primary pull-right">Add new Operator</button>
                </div>-->

                <div class="pusher-15"></div>

                <div class="col-sm-12 no-padding">
                    <form name="registerForm" class="form-signin" novalidate> 
    <div class="form-group"> 
          <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" placeholder="First name" name="firstname" ng-model="user.firstname" required>
        <div ng-show="registerForm.firstname.$dirty" ng-messages="registerForm.firstname.$error">
            <div ng-message="required">
                Enter First name
            </div>

        </div>
      </div>
      </div>
    </div>
    <div class="control-group"> 
        <input type="text" class="form-control" placeholder="Last name" name="lastname" ng-model="user.lastname" required>
        <div ng-show="registerForm.lastname.$dirty" ng-messages="registerForm.lastname.$error">
            <div ng-message="required">
                Enter Last name
            </div>

        </div>
    </div>
<!-- company name-->
    <div class="control-group"> 
        <input type="text" class="form-control" placeholder="Company name" name="companyname" ng-model="user.companyname" required>
        <div ng-show="registerForm.companyname.$dirty" ng-messages="registerForm.companyname.$error">
            <div ng-message="required">
               Enter Company name
            </div>

        </div>
    </div>
<!-- //company name-->
                    </form>
<!--                    <table ng-table="tableParams" class="table table-striped table-fixed">
                        <tbody>
                            <tr ng-repeat="item in $data">
                                <td data-title="'Name'" sortable="'firstname'">{{item.username}}</td>
                                
                                <td data-title="'Email'" sortable="'email'">{{item.email}}</td> 
                                <td data-title="'Role'" sortable="'role'" >{{item.role}}</td>
                                <td data-title="'Controls'">
                                    <button class="btn btn-xs btn-warning" ng-click="onEditUser(item)">Edit</button>
                                    <button class="btn btn-xs btn-danger" ng-click="onDeleteUser(item)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>-->
                </div>
            </div> 
        </div>
    </div>
</section>
<!-- //template "operators.tpl.html"-->