<!-- template "operators.tpl.html"-->
<section ui-view="content" class="tasks">
   <legend>My Profile settings</legend>
  
     
  <tabset justified="true">
    <tab heading="Justified">Justified content</tab>
    <tab heading="SJ">Short Labeled Justified content</tab>
    <tab heading="Long Justified">Long Labeled Justified content</tab>
  </tabset>

    <input type="submit" class="btn btn-lg btn-primary btn-block" ng-click="register()" value="Create Account" />
</section>
<!-- //template "operators.tpl.html"-->