<!-- template "operators.tpl.html"-->
<section>
   <h2 class="text text-center">My Profile settings</h2>
  
   <button type="button" class="btn btn-sm btn-link pull-right" ng-click="onChangePassword($event)">Change password</button>
   
   <form name="registerForm" ng-submit="onSave($event,profile)" loading-container="isBusy" class="form-signin form-horizontal col-sm-8 col-sm-offset-2" novalidate>  
    <h3 class="text text-left text-info">Contact Information</h3>
    <div class="form-group"> 
        <label for="firstname" class="col-lg-2 control-label">First name</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" placeholder="First name" name="firstname" ng-model="profile.owner.firstname" required>
            <div ng-show="registerForm.firstname.$dirty" ng-messages="registerForm.firstname.$error">
                <div ng-message="required">
                    Enter First name
                </div>
            </div>
        </div>
    </div>
    <div class="form-group"> 
        <label for="firstname" class="col-lg-2 control-label">Last name</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" placeholder="Last name" name="lastname" ng-model="profile.owner.lastname" required>
            <div ng-show="registerForm.lastname.$dirty" ng-messages="registerForm.lastname.$error">
                <div ng-message="required">
                    Enter Last name
                </div>

            </div>
        </div>
    </div>
    <!-- company name-->
    <div class="form-group"> 
        <label for="companyname" class="col-lg-2 control-label">Company name</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" placeholder="Company name" name="companyname" ng-model="profile.companyname" required>
            <div ng-show="registerForm.companyname.$dirty" ng-messages="registerForm.companyname.$error">
                <div ng-message="required">
                    Enter Company name
                </div>

            </div>
        </div>
    </div>
      <div class="form-group"> 
        <label for="phone" class="col-lg-2 control-label">Contact phone</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" placeholder="phone" name="phone" ng-model="profile.phone" required>
            <div ng-show="registerForm.email.$dirty" ng-messages="registerForm.phone.$error">
                <div ng-message="required">
                    Enter phone
                </div>          
            </div>
        </div>
    </div>
      <div class="modal-footer"> 
            <button type="submit" class="btn btn-primary btn_save" ng-disabled="registerForm.$invalid&&!EditForm.$pristin">Save changes</button>
            <!--<button type="button" class="btn btn-default btn_save" ng-disabled="!EditForm.$pristine" ng-click="onSetNewPassword(editEntity)" ng-if="editEntity.userId">Set new password</button>-->
            <!--<button type="button" class="btn btn-default btn_cancel" ng-click="onCancel()">Cancel</button>-->
        </div>
   </form>
</section>
<!-- //template "operators.tpl.html"-->