<!-- template "settings.tpl.html"-->
<section >
    <h2 class="text text-center">Auto Response Messages</h2>
    <form name="settingAR1Form" class="form-signin col-sm-10 col-sm-offset-1" novalidate  loading-container="isBusy || isBusy1">
        <h3 class="text text-center">AR1 - Initial</h3>

        <div class="form-group">
            <!--<label for="firstname" class="col-lg-2 control-label">First name</label>-->
            <div class="col-lg-12">
                <input type="text" class="form-control"  name="AR1" ng-model="settings.AR1" required>
                <div ng-show="settingAR1Form.AR1.$dirty" ng-messages="settingAR1Form.AR1.$error">
                    <div ng-message="required">
                        Enter text message
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-sm btn-primary center-block" ng-click="onSaveSettingA1($event, settings.AR1)" ng-disabled="settingAR2Form.$invalid">Update Message</button>
    </form>
    <form name="settingAR2Form" class="form-signin col-sm-10 col-sm-offset-1" novalidate  loading-container="isBusy||isBusy2">
        <h3 class="text text-center">AR2 - Regular</h3>
        <div class="form-group">
            <!--<label for="firstname" class="col-lg-2 control-label">Last name</label>-->
            <div class="col-lg-12">
                <input type="text" class="form-control"  name="AR2" ng-model="settings.AR2" required>
                <div ng-show="settingAR2Form.AR2.$dirty" ng-messages="settingAR2Form.AR2.$error">
                    <div ng-message="required">
                        Enter text message
                    </div>

                </div>
            </div>
        </div>
        <button type="button" class="btn btn-sm btn-primary center-block" ng-click="onSaveSettingA2($event, settings.AR2)" ng-disabled="settingAR2Form.$invalid">Update Message</button>
    </form>
</section>
<!-- //template "settings.tpl.html"-->
